body {
    font-family: Roboto, Arial;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
    height: 40px;
    padding: 0 55px 0 45px;;
}

.logo-name {
    font-weight: bold;
    font-size: 16px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 12px;;
}