* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial;
}

footer {
  background-color: #1f2937;
  color: white;
  font-size: 20px;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
}
