.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 10px 0;
  height: 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 200px;
  margin: 0 184px;
  gap: 8px;
}

.logo-image {
  width: 24px;
  background-color: white;
  border: 1px solid white;
  border-radius: 12px;
}

.logo-name {
  font-weight: bold;
  font-size: 24px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  flex: 1;
  min-width: 260px;
  margin-right: 184px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 1150px) {
  .logo-container {
    margin: 0 92px;
  }

  .nav-links {
    margin-right: 92px;
  }
}

@media screen and (max-width: 680px) {
  .logo-container {
    margin: 0;
  }
}
